/* styles.css */

/* Styling for the navigation bar */
.navbar {
    background-color: #2196F3 !important; /* Set background color to a specific shade of blue */
}

/* Styling for navigation links within the navbar */
.navbar-nav .nav-link {
    color: #ffffff; /* Set text color to white */
}

/* Styling for the body of a card */
.card-body {
    background-color: #2196F3; /* Set background color to the same blue as the navbar */
}

/* Styling for the title text in a card */
.card-title {
    color: #ffffff; /* Set text color to white */
}

/* Styling for the text content in a card */
.card-text {
    color: #ffffff; /* Set text color to white */
}

/* Styling for a specific margin-top class */
.mt-4 {
    background-color: #2196F3; /* Set background color to the same blue as the navbar */
    padding: 20px; /* Add padding */
    border-radius: 10px; /* Add rounded corners */
    color: #ffffff; /* Set text color to white */
}

/* Styling for the brand within the navbar */
.navbar-brand {
    color: #ffffff; /* Set text color to white */
}

/* Styling for a jumbotron element */
.jumbotron {
    background-color: #2196F3 !important; /* Set background color to the same blue as the navbar */
    padding: 20px; /* Add padding */
    border-radius: 10px; /* Add rounded corners */
    color: #ffffff; /* Set text color to white */
}

/* Styling for a specific margin-bottom and text-center class combination */
.mb-4.text-center {
    color: #2196F3; /* Set text color to the same blue as the navbar */
}

/* Styling for a custom button class */
.btn-custom {
    background-color: #ffffff; /* Set background color to white */
    color: #2196F3; /* Set text color to the same blue as the navbar */
    border-color: #2196F3; /* Set border color to the same blue as the navbar */
}

/* Styling for a custom toggler within the navbar */
.navbar .custom-toggler {
    background-color: #ffffff !important; /* Set background color to white */
}

/* Styling for a specific class related to quiz title */
.quiz-title {
    text-align: center !important; /* Set text alignment to center */
    color: #2196F3 !important; /* Set text color to the same blue as the navbar */
    padding-bottom: 2%; /* Add padding to the bottom */
}

/* Styling for a container related to a calendar */
.calendar-container {
    height: 600px; /* Set a fixed height for the container */
}

/* Styling for a custom row class */
.row-custom {
    text-align: center !important; /* Set text alignment to center */
    color: #2196F3 !important; /* Set text color to the same blue as the navbar */
    padding-bottom: 2%; /* Add padding to the bottom */
}

/* Styling for a title related to booking */
.booking-title {
    text-align: center !important; /* Set text alignment to center */
    color: #2196F3 !important; /* Set text color to the same blue as the navbar */
    padding-bottom: 2%; /* Add padding to the bottom */
}
