/* styles.css */

/* Set the color scheme */

.navbar {
    background-color: #2196F3 !important; /* Light blue navbar */
}

.navbar-nav .nav-link {
    color: #ffffff; /* White text for navbar links */
}

.card-body {
    background-color: #2196F3; /* White background for cards */
}

.card-title {
    color: #ffffff; /* Dark green text for card titles */
}

.card-text {
    color: #ffffff; /* White text for card content */
}

/* Testimonials */
.mt-4 {
    background-color: #2196F3; /* Light blue background for testimonials */
    padding: 20px;
    border-radius: 10px;
    color: #ffffff; /* White text for card content */
}

.navbar-brand {
 	
	color: #ffffff;
}

.jumbotron {

	background-color: #2196F3 !important;
   	padding: 20px;
   	border-radius: 10px;
    color: #ffffff; /* White text for card content */

}

.mb-4.text-center {
    color: #2196F3;
}

.btn-custom {
    background-color: #ffffff; /* White background */
    color: #2196F3; /* Blue text color */
    border-color: #2196F3; /* Blue border color */
}
.navbar .custom-toggler {
    
    background-color: #ffffff !important; /* Blue text color */
}
.quiz-title {
    text-align: center !important;
    color: #2196F3 !important;
    padding-bottom: 2%; /* Change the color to your desired value */
}

.calendar-container {
    height: 600px;
}

.row-custom {
    text-align: center !important;
    color: #2196F3 !important;
    padding-bottom: 2%; /* Change the color to your desired value */
}

.booking-title {
    text-align: center !important;
    color: #2196F3 !important;
    padding-bottom: 2%; /* Change the color to your desired value */
}

#paymentmodel .body{height: 100vh;justify-content: center;align-items: center;display: flex;background-color: #eee}
#paymentmodel .launch{height: 50px}
#paymentmodel.close{font-size: 21px;cursor: pointer}
#paymentmodel .modal-body{height: 450px}
#paymentmodel .nav-tabs{border:none !important}
#paymentmodel .nav-tabs 
#paymentmodel .nav-link.active{color: #495057;background-color: #fff;border-color: #ffffff #ffffff #fff;border-top: 3px solid blue !important}
#paymentmodel .nav-tabs 
#paymentmodel .nav-link{margin-bottom: -1px;border: 1px solid transparent;border-top-left-radius: 0rem;border-top-right-radius: 0rem;border-top: 3px solid #eee;font-size: 20px}
#paymentmodel .nav-tabs 
#paymentmodel .nav-link:hover{border-color: #e9ecef #ffffff #ffffff}
#paymentmodel .nav-tabs{display: table !important;width: 100%}
#paymentmodel.nav-tabs{display: table !important;width: 100%}
#paymentmodel.nav-tabs{display: table !important;width: 100%}
#paymentmodel .nav-item{display: table-cell}
#paymentmodel .form-control{border-bottom: 1px solid #eee !important;border:none;font-weight: 600}
#paymentmodel .form-control:focus{color: #495057;background-color: #fff;border-color: #8bbafe;outline: 0;box-shadow: none}
#paymentmodel .inputbox{position: relative;margin-bottom: 20px;width: 100%}
#paymentmodel .inputbox span{position: absolute;top:7px;left: 11px;transition: 0.5s}
#paymentmodel .inputbox i{position: absolute;top: 13px;right: 8px;transition: 0.5s;color: #3F51B5}
#paymentmodel input::-webkit-outer-spin-button, 
#paymentmodel input::-webkit-inner-spin-button{-webkit-appearance: none;margin: 0}
#paymentmodel .inputbox input:focus~span{transform: translateX(-0px) translateY(-15px);font-size: 12px}
#paymentmodel .inputbox input:valid~span{transform: translateX(-0px) translateY(-15px);font-size: 12px}
#paymentmodel .pay button{height: 47px;border-radius: 37px}